#logo
{
	height: 100px;
	width: auto;
	position: relative;
	float: right;
	padding-right: 10px;
}
.input_form table
{
	margin-left:auto;
	margin-right: auto;
	background-color: RGB(240,240,255);
	text-align: center;
	vertical-align: center;
	padding: 25px;
	padding-top: 5px;
	border: solid, 1px, RGB(200,200,240)
}
#input_word_box
{
	background-color: RGB(255,255,200);
	text-align: center;
}
.list_of_elem
{
	vertical-align: top;
	padding-right: 50px;
}
.list_of_elem ul
{
	list-style-type: none;
	padding-top: 50px;
}
#alternative_word
{
	min-width: 75px;
}
.inside_box
{
	padding-left: 25px;
}
.double_inside_box
{
	padding-left: 50px;
}
#lemma
{
	font-weight: bold;
}
.derivatives h1
{
	font-size: 20px;
}
#top_of_list
{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#list_of
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.senses
{
	padding-left: 25px;
}
.grammer
{
	padding-left: 25px;
}
.phrases
{
	padding-left: 25px;
}