#logo
{
	height: 100px;
	width: auto;
	position: relative;
	float: right;
	padding-right: 10px;
}
.input_form table
{
	margin-left:auto;
	margin-right: auto;
	background-color: RGB(240,250,255);
	text-align: center;
	vertical-align: center;
	padding: 25px;
	padding-top: 5px;
}
#input_word_box
{
	background-color: RGB(255,255,200);
	text-align: center;
}
.list_of_elem
{
	vertical-align: top;
	padding-right: 25px;
}
.list_of_elem ul
{
	list-style-type: none;
	padding-top: 50px;
}
#alternative_word
{
	min-width: 75px;
}