#logo
{
	height: 100px;
	width: auto;
	position: relative;
	float: right;
	padding-right: 10px;
}
.menu a
{
	text-decoration: none;
	padding: 10px;
	color: RGB(150,150,250);
}
.menu td
{
	background-color: RGB(255,255,200);
}
.input_form table
{
	margin-left:auto;
	margin-right: auto;
	background-color: RGB(240,240,255);
	text-align: center;
	vertical-align: center;
	padding: 25px;
	padding-top: 5px;
	border: solid, 1px, RGB(200,200,240)
}
#left_side_menu
{
	min-width:130px;
}
#input_word_box
{
	background-color: RGB(255,255,200);
	text-align: center;
}
.list_of_elem
{
	vertical-align: top;
	padding-right: 50px;
}
.list_of_elem ul
{
	list-style-type: none;
	padding-top: 25px;
}
#alternative_word
{
	min-width: 75px;
}
.inside_box
{
	padding-left: 25px;
}
.double_inside_box
{
	padding-left: 50px;
}
#lemma
{
	font-weight: bold;
}
.derivatives h1
{
	font-size: 20px;
}
#top_of_list
{
	margin-top: 5px;
}
p
{
	margin-bottom: 0px;
	margin-top: 0px;
}
.senses
{
	padding-left: 25px;
}
.grammer
{
	padding-left: 25px;
}
.phrases
{
	padding-left: 25px;
}
#loc_tab
{
	min-width:75px;
	max-width:200px
}
#auto_table
{
	border: 0;
}
#auto_table td
{
	border-bottom: 1px solid black;
	vertical-align:top;
}
b
{
	font-weight: bold;
}
b1
{
	font-weight: bold;
	font-style: italic;
	
}
b2
{
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
}
.table_layout
{
	list-style-type: none;
}
.table_layout li
{
	position: relative;
	float: left;
}