
#logo
{
	height: 100px;
	width: auto;
	position: relative;
	float: right;
	padding-right: 10px;
}
.input_form
{
	background-color: RGB(240,250,255);
}
#input_word_box
{
	background-color: RGB(255,255,200);
	text-align: center;
}