<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Tezaurs{% endblock %}</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/template.css">
    </head>
	
	
	
    <body>
		<!--Menu bar-->
		<div class="menu">
			<table>
				<tr>
					<td><a href="/website/"> Tezaurs </a></td>
				</tr>
			</table>
		</div>
		
		
		<!--Main body, using templates to make body block-->
		<div class="content">
			{% block body_block %}{% endblock %}
		</div>
		
		<!--Footer-->
		<div class="footer">
            <p>Tezaurs &copy;</p>
        </div>
    </body>
</html>