<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>{% block title %}Tezaurs{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
		<link rel="stylesheet" href="{% static 'css/template.css' %}">
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
		<script src="{% static 'javascript/bootstrap.js' %}"></script>
		<script src="{% static 'javascript/template.js' %}"></script>
	</head>
	
	<body>
		<!--Menu bar-->
		{% block menu_bar %}
			<ul class="nav nav-tabs">
				<li class="active"><a href="/">Sākums</a></li>
				<li><a href="/inflect/">Locījumi</a></li>
				<li><a href="/user/login/">Pieslēgties</a></li>
			</ul>
		{% endblock %}
		
		<!-- Main body, using templates to make body block -->
		<div class="content">
			{% block body_block %}{% endblock %}
		</div>
		<br><br>
		
		<!--Footer-->
		<div class="footer" style="text-align: center; border: solid 1px; position: fixed; bottom: 0px; width: 100%; background-color: white;">
			<p>Latvija Universiātes Datorikas fakultātes 2.kursa studenta Pētera Fridvalda kvalifikācijas darbs, Rīga 2015 &copy;</p>
		</div>
	</body>
</html>