{% extends 'base.html' %}

<!--Put input word as a part of title of page-->
{% block title %}Tezaurs - {{ content }}{% endblock %}
{% block body_block %}
	
	<!--word from input-->
	<table>
		<tr>
			<td class="list_of_elem">
				<ul>
				{% for i in data %}
					<li>{{ i.Header.Lemma }}</li>
				{% endfor %}
				</ul>
			</td>
			<td>
				{% with i=data|first %}
					<p>{{ i.Header.Lemma }}</p>
					{% if i.Header.Gram.Paradigm %}
						<p>Paradigma: {{ i.Header.Gram.Paradigm }}</p>
					{% endif %}
					{% if i.Header.Gram.Flags %}
						{% for j in i.Header.Gram.Flags %}
							<p>{{ j }}</p>
						{% endfor %}
					{% endif %}
					{% if i.Senses %}
						{% for j in i.Senses %}
							<p>{{ j.SenseID }}.nozīme: {{ j.Gloss}} </p>
						{% endfor %}
					{% endif %}
					<p>{{ i }}</p>
				{% endwith %}
				{{ data }}
			</td>
		</tr>
	</table>
{% endblock %}