{% extends 'base.html' %}

<!--Put input word as a part of title of page-->
{% block title %}Tezaurs - {{ content }}{% endblock %}
{% block body_block %}
	
	<!--word from input-->
	{% if data == "No such word" %}
		<table>
			<tr>
				<td style="vertical-align:top;"><h3>Vārds netika atrasts!</h3></td>
				<td style="min-width:100px"></td>
				<td>
					<h2>Automātiski ģenerēti dati</h2>
					<!-- Show output form analizet (HTML code) -->
					{{ automatic_output_data|safe }}
				</td>
			</tr>
		</table>
	{% elif data == "No input word" %}
		<<h2 style="color:red;">Vārds netika ievadīts!</h2>
	{% else %} 
		<table>
			<tr>
				<td class="list_of_elem" id="left_side_menu">
					<p>Rādīt:</p>
					<div style="padding-left:5px;">
						<label><input type="checkbox" value="pronunciation" checked> Izruna</label><br>
						<label><input type="checkbox" value="grammer" checked> Gramatiku</label><br>
						<label><input type="checkbox" value="subsenses" checked> Apakšnozīmes</label><br>
						<label><input type="checkbox" value="examples" checked> Piemērus</label><br>
						<label><input type="checkbox" value="phrases" checked> Frazeoliģismus</label><br>
						<label><input type="checkbox" value="sources" checked> Avotus</label><br>
						<label><input type="checkbox" value="auto_data" checked> Automātiski ģenerēti dati</label><br>
						<label><input type="checkbox" value="inflect" checked> Locījumi</label><br>
					</div>
					<ul>
					{% for i in data %}
						<li>
							<form id="input_form" method="post" action="/website/show/">
								{% csrf_token %}
								<!-- Renders the same page for alternative word -->
								<input type="hidden" name="word_ID" value="{{ i.ID }}">
								<input type="hidden" name="input_word" value="{{ i.Header.Lemma }}">
								{% if i.Header.Lemma == content %}
									{% if i.ID == hom_id %}
										<input style="font-weight:bold; font-style:italic;" id="alternative_word" type="submit" value="{{ i.Header.Lemma }}">
									{% else %}
										<input id="alternative_word" type="submit" value="{{ i.Header.Lemma }}">
									{% endif %}
								{% else %}
									<input id="alternative_word" type="submit" value="{{ i.Header.Lemma }}">
								{% endif %}
							</form>
						</li>
						{% for alt in AltLemmas_out %}
							{% if alt.lemma == i.Header.Lemma %}
							<li class="inside_box">
								<form id="input_word" method="post" action="/website/show/">
									{% csrf_token %}
									<!-- Renders the same page for alternative word -->
									<input type="hidden" name="word_ID" value="{{ i.ID }}">
									<input type="hidden" name="input_word" value="{{ alt.altLemma }}">
									{% if alt == content %}
										{% if i.ID == hom_id %}
											<input style="font-weight:bold; font-style:italic;" id="alternative_word" type="submit" value="{{ alt.altLemma }}">
										{% else %}
											<input style="font-weight:bold; font-style:italic;" id="alternative_word" type="submit" value="{{ alt.altLemma }}">
										{% endif %}
									{% else %}
										<input id="alternative_word" type="submit" value="{{ alt.altLemma }}">
									{% endif %}
								</form>
							</li>
							{% endif %}
						{% endfor %}
						{% for d in i.Derivatives %}
							<li class="inside_box">
							<form id="input_word" method="post" action="/website/show/">
								{% csrf_token %}
								<!-- Renders the same page for alternative word -->
								<input type="hidden" name="word_ID" value="{{ i.ID }}">
								<input type="hidden" name="input_word" value="{{ d.Header.Lemma }}">
								{% if d.Header.Lemma == content %}
									{% if i.ID == hom_id %}
										<input style="font-weight:bold; font-style:italic;" id="alternative_word" type="submit" value="{{ d.Header.Lemma }}">
									{% else %}
										<input id="alternative_word" type="submit" value="{{ d.Header.Lemma }}">
									{% endif %}
								{% else %}
									<input id="alternative_word" type="submit" value="{{ d.Header.Lemma }}">
								{% endif %}
							</form>
						</li>
						{% endfor %}
					{% endfor %}
					</ul>
				</td>
				<td style="vertical-align:top;">
					<!-- Show output form analizet (HTML code) -->
					{{ output_data|safe }}
				</td>
				<td class="auto_data" style="vertical-align:top;">
					<h2>Automātiski ģenerēti dati</h2>
					<!-- Show output form analizet (HTML code) -->
					{{ automatic_output_data|safe }}
				</td>
			</tr>
		</table>
	{% endif %}
	
{% endblock %}