{% extends 'base.html' %}

<!--Put input word as a part of title of page-->
{% block title %}Tezaurs - {{ content }}{% endblock %}
{% block body_block %}
	
	<!--word from input-->
	{% if data = "no data" %}
		<p>Dati nav pieejami<p>
	{% endif %}
			<p>{{ data.Header.Lemma }}</p>
			{% if data.Header.Gram.Paradigm %}
				<p>Paradigma: {{ data.Header.Gram.Paradigm }}</p>
			{% endif %}
			{% if data.Header.Gram.Flags %}
				{% for j in data.Header.Gram.Flags %}
					<p>{{ j }}</p>
				{% endfor %}
			{% endif %}
			{% if data.Senses %}
				{% for j in data.Senses %}
					<p>{{ j.SenseID }}.nozīme: {{ j.Gloss}} </p>
				{% endfor %}
			{% endif %}
			<p>{{ data }}</p>
{% endblock %}