{% extends 'base.html' %}

{% block title %}Tezaurs{% endblock %}

<!--Menu bar-->
{% block menu_bar %}
	<ul class="nav nav-tabs">
		<li><a href="/">Sākums</a></li>
		<li><a href="/inflect/">Locījumi</a></li>
		<li><a href="/db/"> Datu bāze rīki </a></li>
		<li><a href="/user/register/">Reģistēt lietotāju</a></li>
		<li><a href="/user/logout/"> Atslēgties </a></li>
	</ul>
{% endblock %}

{% block body_block %}
	
	{% if radit %}
		<p style="text-align:center;"> {{ radit }} </p>
	{% endif %}
	
	<form method="post" action="/db/update_db_object/{{ word }}/{{ word_ID }}"> {% csrf_token %}
		{{ data|safe }}
		<button type="submit" style="width:150px; text-align:center;" class="btn btn-default">Saglabāt</button>
	</form>
	<br><br><br><br><br><br><br>
	
{% endblock %}